<%= simple_form_for Event.new do |f| %>
    <h1>This is header</h1>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.hidden_field :calendar_id, value: 1 %>

  <%= f.button :submit %>
<% end %>
